.base {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.page--appear {
  opacity: 0.01;
}
.page--appear.page--appear-active {
  opacity: 1;
  transition: opacity 1s linear;
}

.page--enter {
  opacity: 0.01;
}
.page--enter.page--enter-active {
  opacity: 1;
  transition: opacity .6s linear;
}

.page--leave {
  opacity: 1;
}
.page--leave.page--leave-active {
  opacity: 0.01;
  transition: opacity .25s linear;
}
