:import('z.css') {
  --z-content: --content;
}
:import('colors.css') {
  --background: --snow;
  --text-color: --dark-gray;
}

.base {
  position: absolute;
  height: 100%;
  width: 100%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flex .content {
  display: flex;
  flex-direction: column;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: --z-content;
}


/* THEMES */
/* THEME: hera */
:global .hera-theme {
  :local .base {
    background-color: --background;
    color: --text-color;
  }
}
