:import('colors.css') {
  --title--color: --snow;
}
:import('typography.css') {
  --description--size: --medium-size;
  --description--family: --text-family;
  --title--size: --xx-large-size;
  --title--family: --heading-family;
}

.base {
  margin: auto;
  color: --title--color;
}

.title {
  font-family: --title--family;
  font-size: --title--size;
  color: inherit;
  text-align: center;

  animation: show-up 1s .4s both cubic-bezier(0.165, 0.84, 0.44, 1);
}

.line {
  margin: 0 auto 2rem;
  height: .2rem;
  background: currentColor;
  animation: extend 2s 2s both cubic-bezier(0.23, 1, 0.320, 1);
}

.description {
  margin-bottom: 5rem;
  font-family: --description--family;
  font-size: --description--size;
  color: inherit;
  text-align: center;
  animation: show-up 1s 1.4s both cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes show-up {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes extend {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
