:import('colors.css') {
  --color--link-base: --dark-gray;
  --color--link-active: --pastel-red;
  --pastel-red: --pastel-red;
  --screamin-green: --screamin-green;
}
.nav {
  text-align: center;
}
.link {
  display: inline-block;
  padding: 1rem 2rem;
  margin: .5rem;
  background: transparent;
  border: 2px solid --color--link-active;
  color: white;

  transition: background-color .4s linear;

  text-decoration: none;
  text-transform: uppercase;

  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.link-active {
  background: --color--link-active;
}

:global .hera-theme :local .link {
  background: --pastel-red;
}
:global .dionysus-theme :local .link {
  background: --screamin-green;
}
