:import('colors.css') {
  --color--link-base: --dark-gray;
  --color--link-active: --pastel-red;
  --pastel-red: --pastel-red;
  --screamin-green: --screamin-green;
}
:import('typography.css') {
  --font-size: --small-size;
}
.nav {
  text-align: center;
  font-size: --font-size;
}
.link {
  display: inline-block;
  padding: 1rem 2rem;
  margin: .5rem;
  background: transparent;
  color: white;

  transition: background-color .4s linear;

  text-decoration: none;
  text-transform: uppercase;

  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;

  animation: show-up 1s 3s both cubic-bezier(0.165, 0.84, 0.44, 1);
}

.link + .link {
  animation-delay: 3.5s;
}

.link--active {
  background: --color--link-active;
}

/* THEMES */
/* THEME: hera */
:global .hera-theme {
  :local .link {
    position: relative;
    perspective: 70rem;
    perspective-origin: left;

    span {
      display: block;
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      border: .2rem solid white;

      transform: scale(.9) rotateY(50deg);
      opacity: 0;

      transition: .6s cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition-property: transform, opacity;
    }

    &:hover span {
      transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      opacity: 1;
      transform: scale(1) rotateY(0);
    }
  }
}
/* THEME: chronos */
:global .chronos-theme :local .link {
  background: rgba(0, 0, 0, .4);
  color: #CCC;
  transition: background-color .4s linear,
              color .4s linear;
}
:global .chronos-theme :local .link:hover,
:global .chronos-theme :local .link.link--active {
  color: white;
  background: rgba(0, 0, 0, .6);
}

@keyframes show-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
