/* import used variables */
:import('colors.css') {
  --color--background: --black-haze;
}
:import('typography.css') {
  --text--size: --medium-size;
  --text--family: --text-family;
  --heading--size: --xx-large-size;
  --heading--family: --heading-family;
}

.app {
  overflow: auto;
  box-sizing: border-box;
  padding: 0;
  min-height: 100vh;

  position: relative;

  background: --color--background;

  /* typography */
  font-family: --text--family;
  font-size: --text--size;
}

.app--ready {}

h1,
h2,
h3,
h4 {
  font-family: --heading--family;
}
